/* Estilo general para la secci칩n */
.projects {
  padding: 50px 0;
  background-color: #f9f9f9;
  color: #000;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.project-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  max-width: 1200px;
}

.project-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.project-preview {
  flex: 1;
  max-width: 1200px;
  border-right: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-preview iframe {
  width: 1000px;
  height: 562px;
  border: none;
  border-radius: 15px 0 0 15px;
}

.project-info {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 0 15px 15px 0;
  text-align: left;
}

.project-info h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.project-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.btn-project {
  display: inline-block;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  color: #fff;
  padding: 14px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
  width: 100%;
  cursor: pointer;
}

.btn-project:hover {
  background: linear-gradient(90deg, #00c6ff, #007bff);
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.3);
  transform: translateY(-5px);
}

.btn-project:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Media Queries para dispositivos m칩viles y pantallas m치s peque침as */
@media (max-width: 767px) {
  .section-title {
    font-size: 2rem;
  }

  .project-card {
    height: auto;
    flex-direction: column;
  }

  .project-preview {
    border-right: none;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 15px 15px 0 0;
  }

  .project-preview iframe {
    width: 100%;
    height: 400px;
    border-radius: 15px 15px 0 0;
  }

  .project-info {
    padding: 15px;
    text-align: center;
  }

  .btn-project {
    width: auto;
    margin: 10px auto 0;
  }
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 2.2rem;
  }

  .project-card {
    height: auto;
  }

  .project-preview iframe {
    width: 900px;
    height: 506px;
  }
}
