/* Header - Sección centralizada */
.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  background: linear-gradient(135deg, rgb(0, 31, 63) 0%, rgb(0, 77, 122) 100%);
  color: white;
  padding: 3rem 0;
}

/* Estilo de la foto de perfil */
.profile-photo {
  margin-left: 5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

.profile-photo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  object-fit: cover;
  margin-right: 4rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.intro p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.profile-photo:hover img {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

/* Estilo para el texto de introducción */
.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.intro h1:hover {
  transform: translateY(-10px);
  color: #00bcd4;
}

.intro p {
  font-size: 1.8rem;
  margin-top: 1rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.intro p:hover {
  color: #00bcd4;
}

/* Efecto de escritura */
.typing-text {
  font-size: 2.8rem;
  border-right: 3px solid white;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 4s steps(40, end), blink 0.5s step-end infinite alternate;
  color: #00bcd4;
  transition: color 0.3s ease;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: white;
  }
  to {
    border-color: transparent;
  }
}
