/* Barra de navegación */
.navbar {
  background-color: rgba(0, 31, 63, 0.9);
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar .nav-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  position: relative;
  margin-left: auto;
  padding-right: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul.nav-left {
  flex-grow: 1;
  justify-content: center;
}

.navbar ul.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease;
}

.navbar ul li a:hover {
  color: #00bcd4;
  transform: translateY(-3px);
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(0, 188, 212, 0.8);
}

/* Logo */
.logo {
  flex-shrink: 0;
  margin-right: 20px;
}

.logo-image {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.1);
}

/* Estilo para los íconos sociales */
.social-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
}

.social-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 188, 212, 0.6);
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-right {
    gap: 12px;
    justify-content: center;
  }

  .social-icon {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 480px) {
  .nav-right {
    gap: 8px;
    justify-content: center;
  }

  .social-icon {
    width: 24px;
    height: 24px;
  }
}
