/* Estilo para el encabezado */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  /* background-color: #f7f7f7; */
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #007bff;
  object-fit: cover;
  margin-bottom: 20px;
}

.intro h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f7f7f7;
}

.intro h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #007bff;
  margin-bottom: 10px;
}

.typing-text {
  font-size: 1.2rem;
  color: #f7f7f7;
}

/* Estilo para el botón de descarga de CV */
.download-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.download-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pdf-icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.download-btn:hover .pdf-icon {
  transform: rotate(20deg);
}
